.body {
  background-color: #2c475a;
  border-left: 30px solid #efe7d7;
  border-right: 30px solid #efe7d7;
}

.flatpickr-day.disabled {
  background-color: #564f4f;
  color: #ccc;
  cursor: not-allowed;
}

.flatpickr-day.red {
  background-color: #ff4d4d;
  color: white;
}

.selected {
  background-color: rgb(180, 194, 199);
  border: 2px solid rgb(198, 198, 208);
}

.navbar-brand,
.nav-link {
  color: #466273 !important;
}

.nav-agenda{
  display: flex;
}

.logo-anchor{
  height: 57px;
  display: flex;
}

.text-agenda{
  display: flex;
  padding-top: 8px;
  padding-left: 5px;
  font-weight: bold;
  font-style: italic;
  font-family: inherit;
}

.btn-custom {
  background-color: #c59879;
  color: #000;
  border: none;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #f0d6bc; /* Un tono más oscuro para el efecto hover */
}

.custom-header {
  background-color: #efe7d7;
}

.boton-tatuadores,
.boton-estilos,
.boton-zonas,
.boton-agendar {
  background-color: #c59879;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 7px;
  border: none;
  flex: 1 1 100px;
  max-width: 160px;
  text-align: center;
  font-weight: bold;
}

.boton-tatuadores:hover,
.boton-estilos:hover,
.boton-zonas:hover,
.boton-agendar:hover {
  background-color: #f0d6bc;
}

.boton-tatuadores:focus,
.boton-estilos:focus,
.boton-zonas:focus,
.boton-agendar:focus,
.boton-tatuadores:active,
.boton-estilos:active,
.boton-zonas:active,
.boton-agendar:active {
  background-color: #f8f2e6; 
  color: #2c475a; 
}



/* Ajustes para Pantallas Pequeñas */
@media (max-width: 576px) {
  .boton-tatuadores,
  .boton-estilos,
  .boton-zonas {
    font-size: 14px;
    padding: 8px 16px;
    max-width: 100%;
  }
}

/* Ajustes para Pantallas Medianas y Grandes */
@media (min-width: 576px) {
  .boton-tatuadores,
  .boton-estilos,
  .boton-zonas {
    font-size: 16px;
    padding: 10px 20px;
  }
}

.seleccion-tatuador,
.seleccion-tipo,
.seleccion-zona,
.seleccion-fecha,
.seleccion-hora {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #b2b6b5;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.boton-tatuador,
.boton-zona,
.boton-tipo,
.boton-agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calendario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.seleccion-fecha {
  margin-bottom: 20px; /* Ajusta el espacio entre el título y el calendario */
}

.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-hora {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border: 5px solid #c0c3c3; 
  border-radius: none; 
  margin: auto;
  max-width: 900px; 
  background-color: #efe7d7; 
  margin-top: 15px;
  margin-bottom: 15px;

}

.form-container label {
  display: block; 
  margin-top: 10px; 
  margin-bottom: 5px; 
}

.form-container input,
.form-container textarea {
  width: 100%; 
  padding: 8px;
  border: 1px solid #968585; 
  margin-bottom: 15px; 
}

.boton-agendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 7px;
  border: none;
  max-width: 160px;
  text-align: center;
  font-weight: bold;
  cursor: pointer; 
}

.footer-custom {
  background-color: white; 
  color: #466273; 
  padding: 20px 0;
  text-align: justify;
}

.footer-custom a {
  color: #466273; 
  text-decoration: none; 
}

.footer-custom a:hover {
  color: #c59879; /* Color de los enlaces al pasar el ratón */
}

.footer-custom .social-icons i {
  color: #673737; /* Color de los iconos sociales */
}

.footer-custom .social-icons i:hover {
  color: #ffcc00; /* Color de los iconos sociales al pasar el ratón */
}

.boton-google {
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 300px; 
  margin: 0 auto;
}
.g_id_signin{
  background-color: #efe7d7;
}